.App {
  text-align: center;
}

.board {
  display: flex;
  width: 600px;
  height: 1000px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.square {
  height: 250px;
  width: 200px;
  box-sizing: border-box;
  border: 5px solid black;
}

.square:hover {
  background-color: #80cd92;
}
